@media (min-width: 1px) and (max-width: 649px) {
  .article-body {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 110px 0 50px 0;  

  }

  .article {
    width: 100%;
  }

  .article-title {
    font-size: 30px;
    letter-spacing: 0.05em;
    margin-top: 0px;
  }

  .article-img-div {
    width: 100%;
    margin: 0 auto;
  }
  
  .article-main-img {
    padding: 10px 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
  } 

  .article-vertical-img {
    padding: 10px 0;
    width: 100%;
    object-fit: cover;
  }

  .article-horizontal-img {
    padding: 10px 0;
    width: 100%;
    object-fit: cover;
  }

  .caption {
    font-size: .8rem;
    text-align: left;
    text-align: center;
    padding: 10px 0;
  }

  .top-article-div {
    width: 100%;
  }
}

@media (min-width: 650px) and (max-width: 1099px) {
  .article-body {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 110px 0 50px 0;  
    justify-content: space-around;
  }

  .article {
    width: 65%;
  }

  .article-title {
    font-size: 30px;
    letter-spacing: 0.05em;
    margin-top: 0px;
  }

  .article-img-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

  .article-main-img {
    padding: 10px 0;
    width: 100%;
    height: 700px;
    object-fit: cover;
  } 

  .article-vertical-img {
    padding: 10px 0;
    width: 50%;
    max-height: 700px;
    object-fit: cover;
    margin: 0 auto;
  }

  .article-horizontal-img {
    padding: 10px 0;
    width: 75%;
    max-height: 400px;
    object-fit: cover;
    margin: 0 auto;
  }

  .caption {
    font-size: .8rem;
    text-align: left;
    text-align: center;
    padding: 25px 0;
  }

  .top-article-div {
    width: 30%;
  }
}


@media (min-width: 1100px) {
  .article-body {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 110px 0 50px 0;  
    justify-content: space-around;
  }

  .article {
    width: 60%;
  }

  .article-title {
    font-size: 30px;
    letter-spacing: 0.05em;
    margin-top: 0px;
  }

  .article-img-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

  .article-main-img {
    width: 100%;
    height: 700px;
    object-fit: cover;
  } 

  .article-vertical-img {
    width: 50%;
    max-height: 700px;
    object-fit: cover;
    margin: 0 auto;
  }

  .article-horizontal-img {
    width: 75%;
    max-height: 400px;
    object-fit: cover;
    margin: 0 auto;
  }

  .caption {
    font-size: .8rem;
    text-align: center;
    padding: 25px 0;
  }

  .top-article-div {
    width: 30%;
  }
}

