a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "BrittanySignature";
  src: url("brittany_signature.ttf") format("truetype");
}

@media (min-width: 320px) and (max-width: 600px),
  (min-width: 600px) and (max-width: 999px) {
    header {
      background-color: white;
      min-height: 20vh;
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .name {
      font-size: 42px;
      font-family: "BrittanySignature", sans-serif;
      letter-spacing: 0.25em;
    }
  
    #stay-in-touch {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
      bottom: 0;
      padding: 10px 30px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      background-color: white;
      box-shadow: 0px 2px 0px rgba(0, 52, 89, .1);
    }
  
    .social-media {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; 
    }
  
    .search {
      width: 15%;
      display:flex;
      flex-direction:row;
    }
  
    input {
      height: 30px;
      text-decoration: none;
      overflow: hidden;
      color: black;
      border: none;
      width: 100%;
      outline: none;
    }
}

@media (min-width: 1000px) {
  header {
    background-color: white;
    height: 30vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #stay-in-touch {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 99999;
    top: 0;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 0px rgba(0, 52, 89, .1);
  }

  .social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
  }

  .search {
    width: 15%;
    display:flex;
    flex-direction:row;
  }

  input {
    height: 30px;
    text-decoration: none;
    overflow: hidden;
    color: black;
    border: none;
    width: 100%;
    outline: none;
  }

  .name {
    font-size: 48px;
    font-family: "BrittanySignature", sans-serif;
    letter-spacing: 0.25em;
  }
}

.dropdown {
  font-size: 18px;
  letter-spacing: 0.25em;
}

.dropdown i {
  margin-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  margin: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
