@media (min-width: 1px) and (max-width: 649px) {
  .contact-form {
    padding: 20px 0;
    margin-top: 25px;
  }
}

@media (min-width: 650px) and (max-width: 1099px) {
  .contact-form {
    padding: 20px 0;
  }
}

@media (min-width: 1100px) {
  .contact-form {
    padding: 20px 0;
  }
}


.comments {
  padding: 25px 0;
  background-color: white;
}

.comments-title-div {
  padding: 10px 0;
}

.addComment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
}

.close-addComment {
  display: flex;
  justify-content: flex-end;
}

.addComment textarea{
  background-color: rgba(0, 52, 89, 0.1);
  border: 0.5px rgba(0, 52, 89, 0.1) solid;
}

.comment-input {
  padding: 0 0 50px 0;
}

.addComment-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addComment-contact-span {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.addComment-btn {
  padding: 30px 0 25px 0px;
  text-align: center;
}

.comment {
  width: 90%;
  margin: 20px auto;
  background-color: rgba(0, 52, 89, 0.1);
  border: 0.5px rgba(0, 52, 89, 0.1) solid;
  padding: 10px 20px;
}

.contact-top-articles-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}