@media (min-width: 1px) and (max-width: 999px) {
  .article-category-body {
    padding-top: 110px;
  }
  
  .all-posts {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .idv-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 40px 0;
  }

  .img-tags-div {
    width: 100%;
    height: 400px;
    position: relative;
  }

  .home-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .tags-div {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    width: 90%;
    font-size: 12px;
    letter-spacing: 0.25em;  
  }

  .text-div {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .text-preview-div {
    height: 5em;
    overflow: hidden;
  }

  .text-preview {
    margin: 0 auto;
    white-space: pre-line;
    line-height: 2;
    text-align: justify;
  }
}

@media (min-width: 1000px) {
  .article-category-body {
    padding-top: 110px;
  }

  .all-posts {
    margin: 150px auto 0px;
    display: flex;
    flex-direction: column;
  }

  .home-idv-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 40px 0;
  }

  .img-tags-div-home {
    width: 500px;
    height: 300px;
  }

  .home-img {
    width: 75%;
    height: 100%;
    object-fit: cover;
  }

  .img-tags-div a,
  .img-tags-div a:link,
  .img-tags-div a:visited {
    text-decoration: none;
    color: white;
  }

  .tags-div {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 90%;
    top: 16px;
    left: 16px;
    right: 16px;
    font-size: 12px;
    letter-spacing: 0.25em;
  }

  .home-text-div {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin: 0 0 0 30px; */
  }

  .home-text-preview-div {
    height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
