
@media (min-width: 1px) and (max-width: 749px) {
  .more-articles {
    padding: 20px 0;
  }

  .more-articles-div{
    display: none;
  }

  .more-articles-div-mobile {
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  .more-articles-div-tablet, .more-articles-div-desktop {
    display: none;
  }

  .more-articles-title {
    padding: 25px 0;
    width: 90%;
    margin: 0 auto;
    text-align: left;
  }
     
  .more-article {
    width: 300px;
    margin: 10px;
    background-color: rgba(182, 185, 187, 0.1);
  }
  
  .more-img {
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
  
  .more-title {
    margin: 20px 0;
    font-size: 16px;
    padding: 10px 10px 0px 20px;
  }
 
  .more-title-link {
    padding: 15px 0;
  }
  
  .arrow-down {
    padding: 25px;
  }
}


@media (min-width: 750px) and (max-width: 1099px) {
  .more-articles {
    padding: 25px 0;
    
  }
  
  .more-articles-div-mobile, .more-articles-div-desktop {
    display: none;
  }

  .more-articles-title {
    padding: 25px 0;
    width: 90%;
    margin: 0 auto;
    text-align: left;
  }
  
  .more-articles-div-tablet {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
  } 
   
  .more-article {
    width: 300px;
    margin: 10px;
    background-color: rgba(182, 185, 187, 0.1);
    
  }
  
  .more-img {
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
  
  .more-title {
    margin: 20px 0;
    font-size: 16px;
    padding: 10px 10px 0px 20px;
  }

  .more-title-link {
    padding: 15px 0;
  }

}


@media (min-width: 1100px) {
  .more-articles-div-mobile, .more-articles-div-tablet {
    display: none;
  }

.more-articles {
  padding: 25px 0;
  background-color: white;

}

.more-articles-title {
  padding: 25px 0;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.more-articles-div-desktop {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  
}

.more-article {
  width: 300px;
  margin: 10px;
  background-color: rgba(182, 185, 187, 0.1);
}

.more-img {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.more-title {
  margin: 20px 0;
  font-size: 16px;
  padding: 10px 10px 0px 20px;
}

.more-title-link {
  padding: 15px 0;
}
}
