
.more-articles-header {
  font-family: "badtaste", sans-serif;
  font-size: 48px;
}

.more-articles-div {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}

div .link-title {
 padding: 20px 0;
}

.more-article {
  width: 350px;
  margin: 10px;
}

.more-img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.more-title {
  font-size: 18px;
  text-align: center;
}
