.more-articles {
  margin: 25px 0;
}

.more-articles-div {
  padding: 30px 0;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}

.more-article {
  width: 300px;
  margin: 10px;
}

.more-img {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.more-title {
  margin: 20px 0;
  font-size: 16px;
}

.see-more-button-div {
  margin: auto;
  width: 100%;
  text-align: center;
  margin: 25px 0;
}

div .link-title {
  padding: 20px 0;
}


#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}
