@media (min-width: 320px) and (max-width: 600px),
  (min-width: 600px) and (max-width: 999px) {
  #nav {
    position: fixed;
    z-index: 99999;
    width: 100%;
  }

  #stickyheader {
    padding-left: 50px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 0px rgba(0, 52, 89, 0.1);
  }

  .social-media-div,
  .nav-div {
    display: none;
  }

  .menu-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

@media (min-width: 1000px) {
  #nav {
    position: fixed;
    z-index: 99999;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  #nav-lg {
    display: flex;
    flex-direction: column;
    top: 0;
  }

  #stickyheader {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 0px rgba(0, 52, 89, 0.1);
  }

  .nav-div {
    padding: 0 0 0 50px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .social-media-div {
    padding: 0 50px 0 0;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .search {
    width: 30%;
    display: flex;
    flex-direction: row;
  }

  input {
    height: 30px;
    text-decoration: none;
    overflow: hidden;
    color: black;
    border: none;
    outline: none;
  }

  .menu {
    background: white;
    width: 100%;
    border-top-width: 90%;
    height: 80px;
  }

  .menu-div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-top: 1px rgba(0, 52, 89, 0.1) solid;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0px 2px 0px rgba(0, 52, 89, 0.1);
  }

  .menu-img {
    height: 200px;
    width: 300px;
    object-fit: cover;

  }
}
