@media (min-width: 1px) and (max-width: 800px) {
  .article-category-body {
    padding-top: 150px;
  }
  
  .idv-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 40px 0;
  }

  .img-tags-div {
    width: 100%;
    height: 400px;
    position: relative;
  }

  .preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .tags-div {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    width: 90%;
    font-size: 12px;
    letter-spacing: 0.25em;  
  }

  .text-div {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .text-preview-div {
    height: 5em;
    overflow: hidden;
  }

  .text-preview {
    margin: 0 auto;
    white-space: pre-line;
    line-height: 2;
    text-align: justify;
  }

  .cnt-reading {
    font-family: "badtaste", sans-serif;
    font-size: 24px;
    color: black;
  }
}

@media (min-width: 801px) {
  .article-category-body {
    padding-top: 150px;
  }

  .idv-post {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 40px 0;
  }

  .img-tags-div {
    width: 500px;
    height: 500px;
    position: relative;
    flex-grow: 1;
  }

  .preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-tags-div a,
  .img-tags-div a:link,
  .img-tags-div a:visited {
    text-decoration: none;
    color: white;
  }

  .tags-div {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 90%;
    top: 16px;
    left: 16px;
    right: 16px;
    font-size: 12px;
    letter-spacing: 0.25em;
  }

  .text-div {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 2;
    margin: 0 0 0 30px;
  }

  .text-preview-div {
    height: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cnt-reading {
    font-family: "badtaste", sans-serif;
    font-size: 30px;
    color: black;
  } 
}
