@media (min-width: 1px) and (max-width: 649px) {
  .home-body {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  
  .anchor{
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
  }
}

@media (min-width: 650px) and (max-width: 1099px) {
  
  .home-body {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .anchor{
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
  }
}
@media (min-width: 1000px) {
  .page-divide {
    border-top: 1px solid black;
    width: 90%;
    margin: 0 auto;
  }
  
.home-body {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.anchor{
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}
}

