.home-header {
  margin-top: 60px;
  width: 100%;
  height: 400px;
}

.photogrid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  width: 100%;
}

.photogrid-img {
  object-fit: cover;
  width: 100%;
  position: relative;
}

.vertical {
  opacity: 0.2;
  height: 400px;
}

.horizontal {
  opacity: 0.2;
  height: 200px;
}

/* Create four equal columns that sits next to each other */
.column {
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.photogrid-div {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 90%;
}

.photogrid-title {
  text-align: center;
  font-size: 150px;
  font-family: "badtaste", sans-serif;
  /* letter-spacing: 0.2em; */
}

.photogrid-links {
  text-align: center;
  margin: 50px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
