@media (min-width: 1px) and (max-width: 649px) {
  .page-header-photogrid-tablet, .page-header-photogrid-desktop {
    display: none;
  }

  .photogrid-title {
    text-align: center;
    font-size: 50px;
    font-family: "badtaste", sans-serif;
  }

  .page-header {
    width: 100%;
    height: 25vh;
    padding-top: 80px;
  }

  .photogrid-img {
    object-fit: cover;
    width: 100%;
    position: relative;
    opacity: 0.15;
    height: 25vh;
  }

  .photogrid-header-div {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column wrap;
    top: 20%;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 650px) and (max-width: 1099px) {
  .page-header-photogrid-mobile, .page-header-photogrid-desktop{
    display: none;
  }

  .photogrid-title {
    text-align: center;
    font-size: 75px;
    font-family: "badtaste", sans-serif;
  }

  .page-header {
    width: 100%;
    height: 30vh;
    padding-top: 80px;
  }

  .page-header-photogrid-tablet {
    align-content: center;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .photogrid-img {
    object-fit: cover;
    opacity: 0.15;
    height: 30vh;
    position: relative;
  }
  
  .page-header-column-tablet {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .photogrid-header-div {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column wrap;
    top: 25%;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 1100px) { 
  .page-header-photogrid-tablet {
    display: none;
  }

  .photogrid-title {
    text-align: center;
    font-size: 100px;
    font-family: "badtaste", sans-serif;
  }

  .page-header {
    width: 100%;
    height: 40vh;
    padding-top: 80px;
  }

  .home-header-tablet-desktop-photogrid {
    align-content: center;
    position: relative;
    display: flex;
    flex-flow: row wrap;
  }

  .page-header-img {
    object-fit: cover;
    opacity: 0.15;
    height: 40vh;
    position: relative;
  }
  
  .page-header-column-desktop {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .photogrid-header-div {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column wrap;
    top: 25%;
    width: 100%;
    margin: 0 auto;
  }
}
