
@media (min-width: 320px) and (max-width: 600px),
  (min-width: 600px) and (max-width: 999px) {
  #header {
    background-color: white;
    min-height: 20vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

}

@media (min-width: 1000px) {
 #header {
    background-color: white;
    height: 20vh;
    padding-top:  60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .name {
    font-size: 36px;
    font-family: "SweetGetaway", sans-serif;
  }
}

.category-link {
  font-size: 18px;
  letter-spacing: 0.25em;
  padding: 0 10px;
}