html,
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "badtaste";
  src: url("./fonts/badtaste.ttf") format("truetype");
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.menu-link,
.menu-link:visited,
.menu-link:link {
  font-size: 12px !important;
  letter-spacing: 0.25em;
  text-decoration: none;
  color: white;
}

.top-border {
  border-top: 1px solid black;
}

.menu-link:hover,
.menu-link.active {
  border-bottom: 1px white solid;
}

.underline:hover {
  border-bottom: 1px black solid;
}

.button:hover {
  filter: opacity(0.5) !important;
}

.active {
  border-bottom: 1px black solid;
}

.article-p {
  padding-bottom: 25px;
}

.share-post i {
  padding: 10px;
}

.fa-heart {
  color: rgb(159, 25, 23);
}

.articlecategory1 {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding: 15px;
  background: rgba(211, 114, 124, 0.8);
  color: white !important;
  letter-spacing: 0.25em;
}

.articlecategory2 {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding: 15px;
  background-color: rgba(0, 52, 89, 0.8);
  color: white !important;
  letter-spacing: 0.25em;
}
.articlecategory3 {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding: 15px;
  background-color: rgba(255, 204, 0, 0.8);
  color: white !important;
  letter-spacing: 0.25em;
}

.articlecategory4 {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding: 15px;
  letter-spacing: 0.25em;
  background-color: rgba(94, 125, 89, 0.8);
  color: white !important;
}

.box-button {
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  color: white !important;
  letter-spacing: 0.25em;
}

.two-opacity { animation:opac 2s }
.four-opacity { animation:opac 4s }
  
@keyframes opac{from {opacity:0} to{opacity:1}}

.grow { animation-iteration-count: infinite; animation-name: grow; }

@keyframes grow{
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.zoom {
  position: relative;
  overflow: hidden;
}

.zoom img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.zoomIn{ animation-iteration-count: infinite; animation-name: zoomIn; }

@keyframes zoomIn{
  0% {
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.scroll-touch {
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 1px) and (max-width: 999px) {
  .page-body {
    width: 95%;
    margin: 0px auto;
  }

  .link {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.25em;
    padding: 10px 0;
  }

  .link-header {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.25em;
    padding: 10px 0;
    word-spacing: 5px;
  }

  .link-title {
    font-size: 36px;
    font-family: "badtaste", sans-serif;
  }

  .date {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.25em;
  }

  .text {
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    white-space: pre-line;
    line-height: 2;
    text-align: justify;
  }

  .share-post {
    /* margin: 20px 0 0 0; */
    display: flex;
    flex-direction: row;
  }

  .share-post span {
    font-size: 12px;
    letter-spacing: 0.25em;
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .page-body {
    width: 90%;
    margin: 0px auto;
  }

  .link-header {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.25em;
    padding: 10px 0;
    word-spacing: 5px;
  }

  .link {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.25em;
    padding: 10px 0;
  }

  .link-title {
    font-size: 36px;
    font-family: "badtaste", sans-serif;
  }

  .date {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.25em;
  }

  .text {
    margin: 0 auto;
    white-space: pre-line;
    line-height: 2;
    text-align: justify;
  }

  .share-post {
    /* margin: 20px 0 0 0; */
    font-size: 14px;
    display: flex;
    flex-direction: row;
    letter-spacing: 0.25em;
  }

  .share-post span {
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
 
}
