html,
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "badtaste";
  src: url("./fonts/badtaste.ttf") format("truetype");
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.link {
  font-size: 18px;
  letter-spacing: 0.25em;
  padding: 0 10px;
}

.link-title {
  font-size: 48px;
  font-family: "badtaste", sans-serif;
}

.title {
  font-size: 24px;
  margin-bottom: 0;
}

.date {
  letter-spacing: 0.25em;
}

.text {
  margin: 0 auto;
  white-space: pre-line;
  line-height: 2;
  text-align: justify;
}

.page-body {
  background-color: white;
  width: 90%;
  margin: 0 auto;
}


@media (min-width: 320px) and (max-width: 600px),
  (min-width: 600px) and (max-width: 999px){

    .all-posts {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .idv-post {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0 0 40px 0;
    }
  
    .img-tags-div {
      width: 500px;
      height: 500px;
      position: relative;
      flex-grow: 1;
    }
  
    .img-tags-div img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .tags-div {
      display: flex;
      position: absolute;
      width: 90%;
      top: 8px;
      left: 16px;
      color: white;
      font-size: 12px;
    }
  
    .tag-span-1 {
      text-align: center;
      width: 70px;
      margin: 5px;
      padding: 10px;
      background: rgba(211, 114, 124, 0.9);
    }
  
    .tag-span-2 {
      text-align: center;
      width: 70px;
      margin: 5px;
      padding: 10px;
      background-color: rgba(0, 52, 89, 0.9);
    }
    .tag-span-3 {
      text-align: center;
      width: 70px;
      margin: 5px;
      padding: 10px;
      background-color: rgba(255, 204, 0, 0.9);
    }

    .text-div {
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 2;
      margin: 0 0 0 30px;
    }
  
    .text-preview-div {
      height: 12em;
      overflow: hidden;
    }
  
    .text-preview {
      margin: 0 auto;
      white-space: pre-line;
      line-height: 2;
      text-align: justify;
    }
  
    .cnt-reading {
      font-family: "badtaste", sans-serif;
      font-size: 36px;
      margin: 0 auto;
      color: black;
    }
  
    .share-post {
      display: flex;
      flex-direction: row;
    }
  
    .share-post i {
      padding: 10px;
    }
  
    .fa-heart {
      color: rgb(159, 25, 23);
    }
  
    .share-post span {
      letter-spacing: 0.25em;
      padding: 5px 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }


 @media (min-width: 1000px) {
  .all-posts {
    margin: 150px auto 0px;
    display: flex;
    flex-direction: column;
  }

  .idv-post {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 40px 0;
  }

  .img-tags-div {
    width: 500px;
    height: 500px;
    position: relative;
    flex-grow: 1;
  }

  .home-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1px;
    background-color: black;
  }

  .img-tags-div a,
  .img-tags-div a:link,
  .img-tags-div a:visited {
    text-decoration: none;
    color: white;
  }

  .tags-div {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    font-size: 12px;
  }

  .tag-span-1 {
    text-align: center;
    width: 70px;
    margin: 5px;
    padding: 15px;
    background: rgba(211, 114, 124, 0.9);
  }

  .tag-span-2 {
    text-align: center;
    width: 70px;
    margin: 5px;
    padding: 15px;
    background-color: rgba(0, 52, 89, 0.9);
  }
  .tag-span-3 {
    text-align: center;
    width: 70px;
    margin: 5px;
    padding: 15px;
    background-color: rgba(255, 204, 0, 0.9);
  }

  .text-div {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 2;
    margin: 0 0 0 30px;
  }

  .text-preview-div {
    height: 12em;
    overflow: hidden;
  }

  .cnt-reading {
    font-family: "badtaste", sans-serif;
    font-size: 36px;
    margin: 0 auto;
    color: black;
  }

  .share-post {
    display: flex;
    flex-direction: row;
  }

  .share-post i {
    padding: 10px;
  }

  .fa-heart {
    color: rgb(159, 25, 23);
  }

  .share-post span {
    letter-spacing: 0.25em;
    padding: 5px 5px 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
