html,
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "badtaste";
  src: url("./fonts/badtaste.ttf") format("truetype");
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.page-body {
  background-color: white;
  width: 90%;
  margin: 0px auto;
}

.top-border {
  border-top: 1px solid black;
}

.underline:hover {
  border-bottom: 1px black solid;
  /* color: rgb(156, 175, 183) !important; */
}

.button:hover {
  filter: opacity(.5) !important;
  /* color: rgb(86, 96, 100) !important; */
}

.active {
  border-bottom: 1px black solid;
  /* color: rgb(120, 120, 120) !important; */
}

.wave {
  padding: 0 10px;
}

.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 5px;
  background: #303131;
}

.see-more-button:hover .dot  {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 5px;
  background: #303131;
  animation: wave 1.3s linear infinite;
}

.see-more-button:hover .dot:nth-child(2) {
  animation-delay: -1.1s;
}

.see-more-button:hover .dot:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-15px);
  }
}

@media (min-width: 1px) and (max-width: 649px) {
  .link {
    font-size: 14px;
    letter-spacing: 0.25em;
    padding: 10px 0;
  }

  .link-title {
    font-size: 30px;
    font-family: "badtaste", sans-serif;
  }

  .date {
    font-size: 14px;
    letter-spacing: 0.25em;
  }

  .title {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  .text {
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    white-space: pre-line;
    line-height: 2;
    text-align: justify;
  }
}

@media (min-width: 650px) and (max-width: 1099px) {
  .link {
    font-size: 18px;
    letter-spacing: 0.25em;
    padding: 10px 0;
    }

  .link-title {
    font-size: 48px;
    font-family: "badtaste", sans-serif;
  }

  .date {
    letter-spacing: 0.25em;
  }

  .title {
    font-size: 24px;
    margin-bottom: 0;
  }

  .text {
    font-size: 14px;
    margin: 0 auto;
    white-space: pre-line;
    line-height: 2;
    text-align: justify;
  }
  
}

@media (min-width: 1100px) {
  .link {
    font-size: 18px;
    letter-spacing: 0.25em;
    padding: 10px 0;
  }

  .link-title {
    font-size: 48px;
    font-family: "badtaste", sans-serif;
  }

  .date {
    letter-spacing: 0.25em;
  }

  .title {
    font-size: 24px;
    margin-bottom: 0;
  }

  .text {
    margin: 0 auto;
    white-space: pre-line;
    line-height: 2;
    text-align: justify;
  }
  
}
