@media (min-width: 320px) and (max-width: 600px),
  (min-width: 600px) and (max-width: 999px){
    .article-img {
      padding: 1px;
      background-color: black;
      height: 500px;
      width: 90%;
      object-fit: cover;
    }    
  }

  @media (min-width: 1000px) {
    .article-img {
      padding: 1px;
      background-color: black;
      height: 500px;
      width: 90%;
      object-fit: cover;
    }    
  }

.article-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.article-title {
  font-size: 30px;
  letter-spacing: 0.10em;
}

.article-img-div {
 display: flex;
 justify-content: center;
}

