.article-body {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 150px auto 25px auto;
}

.article {
  margin: auto;
  padding: 0 0 50px 0;
}

.article-title {
  font-size: 30px;
  letter-spacing: 0.10em;
}

.article-img-div {
 display: flex;
 justify-content: center;
}

.article-img {
  padding: 1px;
  background-color: black;
  height: 500px;
  width: 50%;
  object-fit: cover;
}
