@media (min-width: 1px) and (max-width: 649px) {
  .home-top-article {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    padding-bottom: 30px;
  }

  .tags-div {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    width: 90%;
    font-size: 12px;
    letter-spacing: 0.25em;  
  }

  .top-img-div {
    position: relative;
    width: 100%;
    height: 500px;
  }

  .home-top-article-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .home-top-article-text-right, .home-top-article-text-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
    margin: 10px 0 10px 0px;
  }

  .reverse {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .home-title {
    padding: 15px 0 15px 0;
    font-size: 18px;
    letter-spacing: 0.1em;
    word-spacing: 10px;
  }

  .home-text-preview-div {
    width: 90%;
    margin: 0 auto;
    height: 4em;
    overflow: hidden;
    padding: 0 0 25px 0;
  }

  .home-text {
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    white-space: pre-line;
    line-height: 2;
    text-align: justify;
  }
}

@media (min-width: 650px) and (max-width: 1099px) {
  .home-top-article {
    display: flex;
    flex-direction: row;
    background: white;
    width: 100%;
    padding-bottom: 75px;
    height: 80vh;
    align-items: center;
  }

  .tags-div {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    width: 90%;
    font-size: 12px;
    letter-spacing: 0.25em;  
  }

  .top-img-div {
    position: relative;
    width: 50%;
    height: 500px;
  }

  .home-top-article-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .home-top-article-text-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    width: 50%;
    height: 500px;
    padding: 0 0px 0px 15px;
  }

  .home-top-article-text-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    width: 50%;
    height: 500px;
    padding: 0 15px 0px 0px;
  }

  .home-title {
    font-size: 18px;
    letter-spacing: 0.1em;
    word-spacing: 5px;
  }

  .home-text-preview-div {
    height: 5em;
    overflow: hidden;
  }

  .home-text {
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    white-space: pre-line;
    line-height: 2;
    text-align: justify;
  }
}
@media (min-width: 1000px) {
  .home-top-article {
    display: flex;
    flex-direction: row;
    background: white;
    width: 100%;
    padding-bottom: 75px;
    /* height: 80vh; */
    /* align-items: center; */
  }

  .tags-div {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    width: 90%;
    font-size: 12px;
    letter-spacing: 0.25em;  
  }

  .top-img-div {
    position: relative;
    width: 50%;
    height: 500px;
  }

  .home-top-article-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .home-top-article-text-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    width: 50%;
    height: 500px;
    padding: 0 0 0 30px;
    
  }

  .home-top-article-text-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    width: 50%;
    height: 500px;
    padding: 0 30px 0 0;
    
  }

  .home-title {
    font-size: 24px;
    letter-spacing: 0.1em;
    word-spacing: 5px;
  }

  .home-text-preview-div {
    height: 6em;
    overflow: hidden;
  }

  .home-text {
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    white-space: pre-line;
    line-height: 2;
    text-align: justify;
  }
}
